body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: hsl(199, 82%, 69%);
    border: none;
    border-radius: 10px 10px 10px 10px;
    color: rgb(255, 245, 212);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: 'Press Start 2P', cursive;

}

canvas {
    background-color: rgb(156, 210, 253, .7);
}